@import "../../../../assets/themes/light/abstract/variables";
@import "../../../../assets/themes/light/abstract/mixins";

.feature-content {
  padding: $padding;
  margin: $padding;
  mat-card {
    @include box-shadow;
    padding: $padding;

    .deletion-wrapper {
      @include flex-center;
      @include flex-column;

      h2 {
        font-size: $font-size-big;
        margin: $margin;
      }
      .button-wrapper {
        @include flex-column;
        gap: 5px;

        button {
          @include button-def;
        }
        button:hover {
          background-color: $color-red;
          color: white;
        }
      }
    }
  }
}
