<div class="password-change-wrapper">
  <mat-card>
    <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
      <div class="password-form-wrapper">
        <h2>Itt tudja megváltoztatni a jelszavát.</h2>
        <mat-form-field>
          <input
            matInput
            formControlName="oldPassword"
            placeholder="Régi jelszó"
            type="password"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            formControlName="newPassword"
            placeholder="Új jelszó"
            type="password"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            formControlName="newPasswordRe"
            placeholder="Új jelszó újra"
            type="password"
            required
          />
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Mentés</button>
      </div>
    </form>
  </mat-card>
</div>
<router-outlet></router-outlet>
