@import "../../../../assets/themes/light/abstract/variables";
@import "../../../../assets/themes/light/abstract/mixins";

.password-change-wrapper {
  padding: $padding;
  margin: $padding;

  mat-card {
    @include box-shadow;

    .password-form-wrapper {
      padding: $padding;
      @include flex-column;
      @include flex-center;
      h2 {
        color: black;
        font-size: $font-size-big;
        margin: $margin;
      }
      button {
        @include button-def;
      }
      button:hover {
        background-color: $color-red;
        color: white;
      }
    }
  }
}
