@import '../../../assets/themes/light/abstract/mixins';
@import '../../../assets/themes/light/abstract/variables';

.products-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  margin: $margin;

  .product {

    @include flex-row;

    mat-card {
      padding: $padding;
      width: 185px;
      max-height: 320px;
      @include box-shadow;
      border-radius: $border-radius;

      :hover {
        cursor: pointer;
      }

      .product-info {
      @include flex-center;
      @include flex-column;
        img {
            max-height:175px;
            width: 150px;
            border-radius: 8px;
        }
        .product-info-text {


          p:first-child {
            font-size: 20px;
            font-weight: bold;
            margin: 5px;
          }

          p:last-child {
            font-size: 16px;
            margin: 5px;
          }
        }
      }
    }
  }
}
