$color-blue: #00b7ff;
$color-red: #fa6363;
$color-neutral: #f5f5f5;
$padding: 7px;
$margin: 10px;
$border-radius: 5px;
$font-size-big: 24px;
$font-size-medium: 18px;
$font-size-small: 14px;
$border: $color-blue solid 2px;
