<mat-toolbar>
  <div class="header-wrapper">
    <div class="left-side-wrapper">
      <p>
        <a href="">
          <span class="blue-text">portéka-fürkésző</span>
          <span class="red-text">!</span>
        </a>
      </p>
      <div class="search-wrapper">
        <input type="search" placeholder="Mit keres?" [maxLength]="100" />
        <button type="submmit">Keresés</button>
      </div>
    </div>
    <div class="right-side-wrapper">
      <ul>
        <li>
          <a routerLink="/compare"><mat-icon>compare_arrows</mat-icon></a>
        </li>
        <li>
          <a routerLink="/cart"><mat-icon>shopping_cart</mat-icon></a>
        </li>
        <li>
          <a routerLink="/account"><mat-icon>account_circle</mat-icon></a>
        </li>
      </ul>
    </div>
  </div>
</mat-toolbar>
