<mat-toolbar>
  <div class="header-wrapper">
    <div class="left-side-wrapper">
      <p>
        <a href="">
          <span class="blue-text">portéka-fürkésző</span>
          <span class="red-text">!</span>
        </a>
      </p>
      <div class="search-wrapper">
        <form (ngSubmit)="searchProducts()">
          <input type="search" [(ngModel)]="searchTerm" placeholder="Mit keres?" [maxLength]="100" name="searchTerm" />
          <button type="submit">Keresés</button>
        </form>
      </div>
    </div>
    <div class="right-side-wrapper">
      <ul>
        <li>
          <a routerLink="/cart"><mat-icon>shopping_cart</mat-icon></a>
        </li>
        <li *ngIf="isSessionSet(); else notLoggedIn">
          <a routerLink="/account"><mat-icon>account_circle</mat-icon></a>
        </li>
        <ng-template #notLoggedIn>
          <a routerLink="/login"><mat-icon>account_circle</mat-icon></a>
        </ng-template>
      </ul>
    </div>
  </div>
</mat-toolbar>
