<mat-toolbar>
  <div class="header-wrapper">
    <div class="left-side-wrapper">
      <p>
        <span class="blue-text">portéka-fürkésző</span>
        <span class="red-text">!</span>
      </p>
      <div class="search-wrapper">
        <input type="search" placeholder="Mit keres?" [maxLength]="100" />
        <button type="submmit">Keresés</button>
      </div>
    </div>
    <div class="right-side-wrapper">
      <ul>
        <li><mat-icon>compare_arrows</mat-icon></li>
        <li><mat-icon>shopping_cart</mat-icon></li>
        <li><mat-icon>account_circle</mat-icon></li>
      </ul>
    </div>
  </div>
</mat-toolbar>
