@import "../../assets/themes/light/abstract/variables";
@import "../../assets/themes/light/abstract/mixins";

mat-toolbar {
  background-color: $color-neutral;
  color: white;
  justify-content: center;
}
.header-wrapper {
  @include flex-row;
  width: 100%;
  max-width: 1200px;
  @include flex-space-between;
  padding: $padding;

  .left-side-wrapper {
    @include flex-row;
    gap: 10px;
    align-items: center;

    a {
      font-size: $font-size-big;
      text-decoration: none;

      .blue-text {
        color: $color-blue;
      }
      .red-text {
        color: $color-red;
      }
      &:hover {
        .blue-text {
          color: $color-red;
        }
        .red-text {
          color: $color-blue;
        }
      }
    }
  }
  .search-wrapper {
    form {
      @include flex-row;
      gap: 10px;

      input {
        border: $border;
        padding: $padding;
        border-radius: $border-radius;

        &:focus {
          outline: $color-red auto 5px;
        }
      }

      button {
        padding: $padding;
        border-radius: $border-radius;
        background-color: $color-blue;
        color: white;
        border: none;
        cursor: pointer;
        &:hover {
          background-color: $color-red;
        }
      }
    }
  }
}
.right-side-wrapper {
  @include flex-row;
  gap: 10px;
  align-items: center;

  ul {
    @include flex-row;
    gap: 10px;

    li {
      list-style: none;
      a {
        text-decoration: none;
        color: $color-blue;
      }
    }
    li:hover {
      a {
        color: $color-red;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  mat-toolbar {
    height: auto;
    padding: $padding;
  }

  .header-wrapper {
    @include flex-column;

    .left-side-wrapper {
      @include flex-column;
      justify-content: space-between;
      width: 100%;
    }
    .search-wrapper {
      width: 100%;
      form {
        input {
          width: 65%;
        }
        button {
          width: 35%;
        }
      }
    }
    .right-side-wrapper {
      @include flex-row;
      justify-content: center;

      ul {
        margin: 10px 0px 0px 0px;
        width: 100%;
        @include flex-right;
        li {
          a {
            text-align: center;
          }
        }
      }
    }
  }
}
.icons-wrapper {
  @include flex-row;
  gap: 10px;
}
