$color1: #00b7ff;
$color2: #fa6363;
$padding: 5px;
$border-radius: 5px;
$font-size: 16px;
$border: $color1 solid 2px;

.account-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: $padding;
  max-width: 1200px;
  margin: auto;
  
  .feature-content {
    flex-grow: 1;
  }
}

.features-list {
  display: flex;
  flex-direction: column;

  a {
    color: $color1;
    text-decoration: none;
    font-size: $font-size;
    padding: $padding;
    border: $border;
    border-radius: $border-radius;
    margin: 5px;
    transition: all 0.3s ease;

    &:hover {
      background-color: $color1;
      color: white;
    }
  }
}
