<div class="account-wrapper">
  <div class="features-list">
    <mat-card>
      <a href="">Termékek</a>
    </mat-card>
    <mat-card>
      <a routerLink="/account/dashboard">Dashboard</a>
    </mat-card>
    <mat-card>
      <a routerLink="/account/profile">Saját adatok</a>
    </mat-card>
    <mat-card>
      <a routerLink="/account/orders">Rendelések</a>
    </mat-card>
    <mat-card>
      <a routerLink="/account/password">Jelszó módósítása</a>
    </mat-card>
    <mat-card>
      <a routerLink="/account/deletion">Fiók törlése</a>
    </mat-card>
    <mat-card>
      <a routerLink="/account/logout">Kijelentkezés</a>
    </mat-card>
    <mat-card>
      <a routerLink="/account/new-product" *ngIf="userRole">Új termék</a>
    </mat-card>
  </div>
  <div class="feature-content">
    <router-outlet></router-outlet>
  </div>
</div>
