<div class="order-wrapper">
  <div class="order-list">
    <mat-card>
      <h3>Rendelés adatai</h3>
      <div>
        <div>
          <span>Rendelési azonosító: {{ order.id }}</span>
          <div></div>
        </div>
        <div>
          <span>Rendelés dátuma: {{ order.date | dateFormat }}</span>
          <span class=""></span>
        </div>
      </div>
      <div>
        <div class="prodcts-data-wrapper" *ngFor="let item of order.products">
          <span>Termék: {{ item.name }}</span>
          <span>Ár: {{ item.price | hungarianForintStrong }}</span>
        </div>
        <div>
          <span>Rendelés összege: </span>
          <span>{{ order.total | hungarianForintStrong }}</span>
        </div>
      </div>
    </mat-card>
  </div>
</div>
<router-outlet></router-outlet>
