<div class="product-wrapper">
    <div>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h4>Order Details</h4>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="">
                    <div class="">
                        <div class="">Rendelési azonosító</div>
                        <div class="">{{ order.id }}</div>
                    </div>
                    <div class="">
                        <div class="">Rendelés dátuma</div>
                        <div class="">{{ order.date }}</div>
                    </div>
                    <div class="">
                        <div class="">Rendelés összege</div>
                        <div class="">{{ order.total | hungarianForintStrong }}</div>
                    </div>

                </div>
                <div class="">
                    <div class="">
                        <div class="">Termék</div>
                        <div class="">Ár</div>
                    </div>
                    <div class="" *ngFor="let item of order.products">
                        <div class="">{{ item.name }}</div>
                        <div class="">{{ item.price | hungarianForintStrong }}</div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<router-outlet></router-outlet>
