<form [formGroup]="loginForm" (ngSubmit)="login()">
<div class="login-wrapper">
  <div class="login-form-wrapper">
      <img src="../../../../assets/pictures/login_all.png" alt="login" />
      <div class="login-right">
        <h2>Jelentkezzen be,</h2>
        <p>hogy egyszerűen és gyorsan tudja intézni rendeléseit.</p>
        <mat-form-field>
          <input
            matInput
            formControlName="email"
            placeholder="Email cím"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            formControlName="password"
            placeholder="Jelszó"
            type="password"
            required
          />
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">
          Bejelentkezés
        </button>
        <p>{{ errorMessage }}</p>
        <a routerLink="/register">Még nincs fiókja?</a>
      </div>
    </div>
  </div>
</form>
  
<router-outlet></router-outlet>
