@import "../../../../assets/themes/light/abstract/mixins";
@import "../../../../assets/themes/light/abstract/variables";

.login-wrapper {
  @include flex-center;
  padding: $padding;
}

.login-form-wrapper {
  display: flex;
  flex-direction: row;
  gap: $padding;
  align-items: center;
  border: $border;
  border-radius: $border-radius;
  padding-right: $padding;

  img {
    width: 370px;
    border-radius: $border-radius;
  }
}

.login-right {
  display: flex;
  flex-direction: column;
  padding: $padding;
  border-radius: $border-radius;
  color: $color-blue;

  h2 {
    font-size: $font-size-big;
    margin-bottom: 5px;
  }

  button {
    @include button-def;
  }
  button:hover {
    background-color: $color-red;
    color: white;
  }
}

.login-right a {
  color: $color-red;
  margin-top: 10px;
  align-self: center;
}


@media screen and (max-width: 768px) {
  .login-form-wrapper {
    @include flex-column;
    padding: 0px 0px $padding 0px;

    img {
        width: 100%;
    }
}
}
