<div class="new-product-wrapper">
  <form [formGroup]="newProductForm" (ngSubmit)="uploadProduct()">
    <mat-card>
      <div class="product-form-wrapper">
        <h2>Új termék felvitele</h2>
        <div class="input-wrapper">
          <div class="left-side-wrapper">
            <mat-form-field>
              <input
                matInput
                formControlName="category"
                placeholder="Kategória"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                formControlName="description"
                placeholder="Termék leírása"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                formControlName="id"
                placeholder="Termék azonoító"
                required
              />
            </mat-form-field>
          </div>
          <div class="right-side-wrapper">
            <mat-form-field>
              <input
                matInput
                formControlName="image"
                placeholder="Kép url-je"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                formControlName="name"
                placeholder="Termék neve"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                formControlName="price"
                placeholder="Termék ára"
                required
              />
            </mat-form-field>
          </div>
        </div>
        <button mat-raised-button type="submit">Mentés</button>
      </div>
    </mat-card>
  </form>
</div>
<router-outlet></router-outlet>
