@import "../../../../assets/themes/light/abstract/variables";
@import "../../../../assets/themes/light/abstract/mixins";

.user-data-container {
  padding: $padding;
  margin: $padding;
  mat-card {
    @include flex-center;
    @include box-shadow;
    h2 {
      color: black;
      font-size: $font-size-big;
      margin: $margin;
    }
    .user-data-input-container {
      max-width: 300px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: center;
      
      label {
        color: black;
        font-size: $font-size-medium;
        margin: 0px;
        align-self: flex-start;
      }

      input {
        display: flex;
        padding: $padding;
        border-radius: $border-radius;
        border: $border;
        font-size: $font-size-small;
        margin: 5px 0px;
      }

      button {
        @include button-def;
        &:hover {
          background-color: $color-red;
          color: white;
        }
      }
      .registered-data-wrapper {
        @include flex-center;
        @include flex-column;
      }

      p {
        align-self: start;
        margin: 5px 20px;
      }
    }
  }
}
