<div class="order-wrapper">
  <div class="order-list">
    <div *ngFor="let order of orders">
        <mat-card [routerLink]="'order/' + order.id">
            <div class="order-header" >
                <span>Rendelés azonosító: {{ order.id }}</span>
                <span>Rendelés dátuma: {{ order.date }}</span>
            </div>
            <div class="order-content">
                <span>Termékek száma: {{ order.products.length }}</span>
                <span>Összeg: {{ order.total }} Ft</span>
            </div>
        </mat-card>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
