@import "../../../../assets/themes/light/abstract/variables";
@import "../../../../assets/themes/light/abstract/mixins";

.order-wrapper {
  @include flex-column;
  padding: $padding;
  margin: $padding;
  .order-list {
    @include flex-column;
    mat-card {
      @include box-shadow;
      &:hover {
        cursor: pointer;
      }
      padding: $padding;

      .order-header {
        @include flex-row;
        h3 {
            margin: $margin;
        }
      }
      .order-content {
        @include flex-column;
      }
    }
  }
}
