@import "../../../../assets/themes/light/abstract/variables";
@import "../../../../assets/themes/light/abstract/mixins";

.dashboard-wrapper {
  padding: $padding;
  margin: $padding;
  mat-card {
    @include box-shadow;
    @include flex-center;
    padding: $padding;
    margin: $margin;
    .account-progress {
      .progress-container {
        @include flex-center;
        background-color: #f0f0f0;
        border-radius: $border-radius;
        max-width: 100%;
        padding: $padding;

        .progress-bar {
          display: flex;
          background-color: $color-blue;
          border-radius: $border-radius;
          width: 0%;
          transition: width 0.3s ease;
          padding: 10px 0px;
          justify-content: middle;
          color: white;

          span {
            margin:auto
          }
        }
      }
    }
  }
}

.inside-wrapper {
  @include flex-column;
  @include flex-center;
  padding: $padding;
  margin: $margin;
  h3 {
    margin: $margin;
  }
  p {
    margin: $margin;
  }
  button {
    @include button-def;
    a {
      text-decoration: none;
      transition: all 0.3s ease;
      color: $color-red;
    }
    &:hover {
      background-color: $color-red;
      a {
        color: white;
      }
    }
  }
}
