<div class="cart-wrapper">
  <div class="inside-wrapper">
    <h1>Shopping Cart</h1>
    <ul>
      <li *ngFor="let product of cart">
        <mat-card> 
          <p>
            {{ product.name }} - {{ product.price | hungarianForintStrong}} 
            <button (click)="removeFromCart(product.id)">-</button>
          </p>
        </mat-card>
      </li>
    </ul>
    <p>{{error}}</p>
    <button mat-raised-button color="primary" (click)="checkOut()">Vásárlás</button>
  </div>
</div>
<router-outlet></router-outlet>
