@import '../../../../assets/themes/light/abstract/mixins';
@import '../../../../assets/themes/light/abstract/variables';


.product-wrapper {
  margin: $margin;
  padding: $padding;

  mat-card {
    @include box-shadow;
    padding: $padding;
    border-radius: $border-radius;

    .product {
      @include flex-column;

      .product-info {
        @include flex-center;
        @include flex-row;


        img {
          max-height: 200px;
          border-radius: 8px;
        }
        .product-info-text {
          padding: $padding;
          display: flex;
          flex-direction: column;
          align-items: left;

          button {
            @include button-def;
          }

          p:first-child {
            font-size: 20px;
            font-weight: bold;
          }

          p:last-child {
            font-size: 16px;
          }
        }
      }
    }
  }
}
