$color1: #00b7ff;
$color2: #fa6363;
$padding: 15px;
$margin: 30px;
$border-radius: 5px;
$font-size: 16px;
$border: $color1 solid 2px;

.product-wrapper {
  margin: $margin;

  mat-card {
    padding: $padding;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: $border-radius;

    .product {
      display: flex;
      flex-flow: column;

      .product-info {
        display: flex;
        flex-direction: row;
        justify-content: center;

        img {
          max-height: 200px;
          border-radius: 8px;
        }
        .product-info-text {
          padding: $padding;
          display: flex;
          flex-direction: column;
          align-items: left;

          mat-card {
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px inset, rgba(0, 0, 0, 0.23) 0px 6px 6px inset;
          }

          p:first-child {
            font-size: 20px;
            font-weight: bold;
          }

          p:last-child {
            font-size: 16px;
          }
        }
      }
    }
  }
}
