<div class="register-wrapper">
  <div class="register-form-wrapper">
    <img src="../../../../assets/pictures/reg_all.png" alt="login" />
    <form>
      <div class="register-right">
        <h2>Regisztráljon most!</h2>
        <p>Egyszerűen és gyorsan intézheti rendeléseit.</p>
        <mat-form-field>
          <input
            matInput
            placeholder="Felhasználónév"
            formControlName="username"
          />
          <!--
                          <mat-error *ngIf="loginForm.get('username').hasError('required')">
                              Felhasználónév megadása kötelező!
                          </mat-error>
                      -->
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Jelszó"
            formControlName="password"
            type="password"
          />
          <!--
                          <mat-error *ngIf="loginForm.get('password').hasError('required')">
                              Jelszó megadása kötelező!
                          </mat-error>
                      -->
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">
          Bejelentkezés
        </button>
        <a routerLink="/login">Már van fiókja?</a>
      </div>
    </form>
  </div>
</div>

<router-outlet></router-outlet>
