<div class="register-wrapper">
  <div class="register-form-wrapper">
    <img src="../../../../assets/pictures/reg_all.png" alt="login" />
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="register-right">
        <h2>Regisztráljon most!</h2>
        <p>Egyszerűen és gyorsan intézheti rendeléseit.</p>
        <mat-form-field>
          <input
            matInput
            formControlName="email"
            placeholder="Email cím"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            formControlName="password"
            placeholder="Jelszó"
            type="password"
            required
          />
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">
          Regisztráció
        </button>
        <a routerLink="/login">Már van fiókja?</a>
      </div>
    </form>
  </div>
</div>

<router-outlet></router-outlet>