@import "../../../../assets/themes/light/abstract/variables";
@import "../../../../assets/themes/light/abstract/mixins";

.feature-content {
  padding: $padding;
  margin: $padding;

  mat-card {
    padding: $padding;
    .logout-wrapper {
      @include flex-center;
      @include flex-column;

      h2 {
        color: black;
        font-size: $font-size-big;
        margin: $margin;
      }
      button {
        border: none;
        padding: $padding;
        border-radius: $border-radius;
        background-color: white;
        border: $color-red solid 2px;
        color: $color-red;
        font-size: 16px;
        cursor: pointer;
      }
      button:hover {
        background-color: $color-red;
        color: white;
      }
    }
  }
}
