@import '../../assets/themes/light/abstract/mixins';
@import '../../assets/themes/light/abstract/variables';


.home-wrapper {
  @include flex-row;
  justify-content: center;


  .products-wrapper {
    max-width: 1000px;
    flex-grow: 1;
  }
}

.category-wrapper {
  h2 {
    color: $color-red;
    margin: $margin;
  }

  .category {
    @include flex-column;

    mat-card {
      margin: 5px;
      @include box-shadow;
      a {
        color: $color-blue;
        text-decoration: none;
        border-radius: $border-radius;
        margin: 5px;
        transition: all 0.3s ease;
      }
      &:hover {
        background-color: $color-blue;
        color: white;
        cursor: pointer;

        a {
          color: white;
        }
      }
    }
  }
}
